{% extends 'base.html.twig' %}

{% block title 'NOUVELLE ARTICLE' %}

{% block body %}

<h3>nouvelle article</h3>




{{ form_start(formulaire)}}

    {{ form_widget(formulaire)}}

    <input type="submit" value="creer l'article">

{{ form_end(formulaire)}}

{% endblock %}
