{% extends 'base.html.twig' %}

{% block title 'FANAMBY SHOP' %}

{% block body %}

<h1> {{ nombreArticle(article|length, 'article', 'articles') }}</h1>

{% for articles in article %}

    <article>
        <h2>{{ articles.NomProduit }}</h2>
        <h3>{{ articles.Description }}</h3>
    </article>
    
    </br>
{% endfor %}

{% endblock %}
